* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #444;
  font-family: "Open Sans", sans-serif;
  color: #444;
  margin: 0;
  padding: 108px 0 0; }

img {
  display: block;
  width: 100%;
  height: auto; }

h1 {
  font-size: 1.4375rem;
  margin-bottom: 0.625rem; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 1.875rem; } }

.contain {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  .contain::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 960px) {
    .contain {
      padding: 0; } }

.button {
  float: left;
  margin-right: 20px;
  padding: 15px 30px;
  background: #fab515;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 1.125rem;
  display: inline-block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
  border-radius: 5px; }
  @media screen and (min-width: 768px) {
    .button {
      font-size: 1.25rem;
      padding: 15px 50px; } }
  .button:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); }
  .button:active {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3); }

header {
  background: #444;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1; }

.logo {
  display: block;
  background: url(images/logo.png) no-repeat;
  background-size: contain;
  width: 100px;
  height: 78px;
  text-indent: -9999px;
  float: left; }

.primary {
  float: left; }
  .primary ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px; }
    .primary ul li {
      float: left;
      margin-top: 20px;
      margin-left: 30px; }
      .primary ul li a {
        padding: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem; }

.social {
  float: right; }
  .social ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .social ul li {
      float: left;
      margin-top: 20px;
      margin-left: 30px; }
      .social ul li a {
        padding: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem; }

.pianos {
  background: #28d2ff; }

.piano {
  display: none; }
  .piano:first-child {
    display: block; }
  .piano .location, .piano .information {
    display: none; }
  .piano .scene {
    height: 91.38889vw;
    background-position: center bottom;
    background-size: cover; }
    @media screen and (min-width: 768px) {
      .piano .scene {
        height: 39.16667vw; } }

.canada-place .scene {
  background-image: url(images/pianos/canada-place.svg); }

.tagline {
  display: none; }

.keys {
  background: #eee;
  height: 25vw; }

.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .content:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .content:last-child {
        margin-right: 0; } }
  .content p:first-of-type {
    margin-top: 0; }

.gallery {
  margin-top: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .gallery:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .gallery {
      margin-top: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .gallery:last-child {
        margin-right: 0; } }

.gallery-video {
  display: none; }
  @media screen and (min-width: 768px) {
    .gallery-video {
      display: block; } }
  .gallery-video .player {
    background: #000;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%; }
    .gallery-video .player iframe, .gallery-video .player object, .gallery-video .player embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .gallery-video .videos a {
    margin-top: 2.35765%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .gallery-video .videos a:last-child {
      margin-right: 0; }
    .gallery-video .videos a:nth-child(3n) {
      margin-right: 0; }
    .gallery-video .videos a:nth-child(3n+1) {
      clear: left; }
    .gallery-video .videos a:last-child {
      display: none; }
    @media screen and (min-width: 960px) {
      .gallery-video .videos a {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 18.11388%; }
        .gallery-video .videos a:nth-child(3n) {
          margin-right: 2.35765%; }
        .gallery-video .videos a:nth-child(3n+1) {
          clear: none; }
        .gallery-video .videos a:last-child {
          margin-right: 0; }
        .gallery-video .videos a:nth-child(5n) {
          margin-right: 0; }
        .gallery-video .videos a:nth-child(5n+1) {
          clear: left; }
        .gallery-video .videos a:last-child {
          display: block; } }
    .gallery-video .videos a.active {
      opacity: 0.3; }

.gallery-photo a {
  margin-bottom: 2.35765%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .gallery-photo a:last-child {
    margin-right: 0; }
  .gallery-photo a:nth-child(2n) {
    margin-right: 0; }
  .gallery-photo a:nth-child(2n+1) {
    clear: left; }
  @media screen and (min-width: 768px) {
    .gallery-photo a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .gallery-photo a:nth-child(2n) {
        margin-right: 2.35765%; }
      .gallery-photo a:nth-child(2n+1) {
        clear: none; }
      .gallery-photo a:last-child {
        margin-right: 0; }
      .gallery-photo a:nth-child(4n) {
        margin-right: 0; }
      .gallery-photo a:nth-child(4n+1) {
        clear: left; } }

.about, .support, .sponsors-wrap {
  padding: 10px 0 15px; }
  @media screen and (min-width: 960px) {
    .about, .support, .sponsors-wrap {
      padding: 30px 0 50px; } }

.about, .sponsors-wrap {
  background: #fff; }

.support {
  background: #28d2ff;
  color: #fff; }

.sponsors {
  margin-top: 2em; }

.sponsor {
  text-align: center;
  margin-bottom: 2.35765%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .sponsor:last-child {
    margin-right: 0; }
  .sponsor:nth-child(2n) {
    margin-right: 0; }
  .sponsor:nth-child(2n+1) {
    clear: left; }
  @media screen and (min-width: 768px) {
    .sponsor {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .sponsor:nth-child(2n) {
        margin-right: 2.35765%; }
      .sponsor:nth-child(2n+1) {
        clear: none; }
      .sponsor:last-child {
        margin-right: 0; }
      .sponsor:nth-child(4n) {
        margin-right: 0; }
      .sponsor:nth-child(4n+1) {
        clear: left; } }
  .sponsor a {
    color: #444;
    text-decoration: none;
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px; }
    .sponsor a span {
      position: relative;
      display: inline-block;
      padding: 0 14px;
      background: #fff;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      -o-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      .sponsor a span::before {
        border-radius: 4px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fab515;
        color: #fff;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        content: attr(data-hover);
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -o-transform-origin: 50% 0%;
        transform-origin: 50% 0%; }
    .sponsor a:hover span, .sponsor a:focus span {
      -webkit-transform: rotateX(90deg) translateY(-22px);
      -moz-transform: rotateX(90deg) translateY(-22px);
      -ms-transform: rotateX(90deg) translateY(-22px);
      -o-transform: rotateX(90deg) translateY(-22px);
      transform: rotateX(90deg) translateY(-22px); }
      .sponsor a:hover span::before, .sponsor a:focus span::before {
        background: #fab515;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #444;
  color: #fff; }
  footer a {
    color: #fff; }

.keys {
  position: relative;
  background-color: white;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }
  .keys .back-drop {
    z-index: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    height: 89.33333%; }
  .keys .key {
    float: left;
    height: 100%;
    width: 8.33333%;
    position: relative; }
    .keys .key .key-white {
      z-index: 1;
      margin-right: 5%;
      height: 100%;
      width: 95%; }
      .keys .key .key-white .top {
        display: block;
        position: relative;
        background-color: #F8F0E6;
        height: 85%;
        width: 100%;
        -webkit-transition: all .2s;
        transition: all .2s; }
        .keys .key .key-white .top:after {
          -webkit-transition: all .2s;
          transition: all .2s;
          content: " ";
          height: 100%;
          width: 100%;
          position: absolute;
          background: -webkit-linear-gradient(#e4d2cd, #F8F0E6);
          opacity: 0; }
      .keys .key .key-white:after {
        content: " ";
        display: block;
        background-color: #E1CFC9;
        height: 8.33333%;
        width: 95%;
        position: absolute;
        border: 0px solid;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        bottom: 8.33333%;
        -webkit-transition: all .2s;
        transition: all .2s; }
      .keys .key .key-white:active .top, .keys .key .key-white.active .top {
        height: 93.33333%;
        background-color: #e4d2cd; }
        .keys .key .key-white:active .top:after, .keys .key .key-white.active .top:after {
          opacity: 1; }
      .keys .key .key-white:active:after, .keys .key .key-white.active:after {
        height: 6.25%;
        bottom: 4.16667%; }
    .keys .key .key-black {
      height: 68.33333%;
      width: 46.66667%;
      position: absolute;
      left: 74.16667%;
      top: 0;
      z-index: 2;
      background-color: #323232;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .keys .key .key-black:after {
        -webkit-transition: all .3s;
        transition: all .3s;
        content: " ";
        position: absolute;
        width: 100%;
        height: 15px;
        bottom: 0;
        background-color: #1A1818; }
      .keys .key .key-black:active, .keys .key .key-black.active {
        background-color: #1A1818; }
        .keys .key .key-black:active:after, .keys .key .key-black.active:after {
          height: 10px; }

/*# sourceMappingURL=style.css.map */
