$number-of-white-keys: 12;

$width-key-group:   1 / $number-of-white-keys * 100%;
$width-key-white:   (19 / 20) * 100%;
$width-gutter:      (1 / 20) * 100%;
$width-key-black:   (56 / 120) * 100%;

$height-key-white-top: (10.2 / 12) * 100%;
$height-key-white-bottom: (1 / 12) * 100%;
$height-key-black:   (205 / 300) * 100%;
$height-key-black-bottom:   (30 / 300) * 100%;

$height-back-drop:   (268 / 300) * 100%;

$left-key-black: (89 / 120) * 100%;

$color-key-white: #F8F0E6;
$color-key-white-bottom: #E1CFC9;
$color-key-white-pressed: rgb(228, 210, 205);

$color-key-black: #323232;
$color-key-black-pressed: #1A1818;


.keys {
  position: relative;
  background-color: white;
  @include user-select(none);
  .back-drop {
    z-index: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    height: $height-back-drop;
  }
  .key {
    float: left;
    height: 100%;
    width: $width-key-group;
    position: relative;
    cursor: pointer;
    .key-white {
      z-index: 1;
      margin-right: $width-gutter;
      height: 100%;
      width: $width-key-white;
      .top {
        display: block;
        position: relative;
        background-color: $color-key-white;
        height: $height-key-white-top;
        width: 100%;
        @include transition(all .2s);
        &:after {
          @include transition(all .2s);
          content: " ";
          height: 100%;
          width: 100%;
          position: absolute;
          @include background(linear-gradient($color-key-white-pressed, $color-key-white));
          opacity: 0;
        }
      }
      &:after {
        content: " ";
        display: block;
        background-color: $color-key-white-bottom;
        height: $height-key-white-bottom;
        width: $width-key-white;
        position: absolute;
        border: 0px solid;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        bottom: $height-key-white-bottom;
        @include transition(all .2s);
      }

      // gradient hack
      &:active, &.active {
        .top {
          height: $height-key-white-top + $height-key-white-bottom;
          background-color: $color-key-white-pressed;
          &:after {
            opacity: 1;
          }
        }
        &:after {
          height: $height-key-white-bottom * 3 / 4;
          bottom: $height-key-white-bottom / 2;
        }

      }

      .letter {
        color: black;
        font-size: 2vw;
        position: absolute;
        bottom: $height-key-white-bottom * 2 / 3;
        left: 0;
        right: 0;
        text-align: center;
        vertical-align: middle;
        @include transition(opacity .3s);
        opacity: 0;
      }
    }
    .key-black {
      height: $height-key-black;
      width: $width-key-black;
      position: absolute;
      left: $left-key-black;
      top: 0;
      z-index: 2;
      background-color: $color-key-black;
      &:after {
        @include transition(all .3s);
        content: " ";
        position: absolute;
        width:100%;
        height: $height-key-black-bottom;
        bottom: 0;
        background-color: $color-key-black-pressed;
      }
      &:before {
        @include transition(all .2s);
        content: " ";
        height: 100%;
        width: 100%;
        position: absolute;
        @include background(linear-gradient($color-key-black, #494242));
        opacity: 1;
      }
      @include transition(all .3s);
      &:active, &.active {
        background-color: $color-key-black-pressed;
        &:after {
          height: 10px;
        }
        &:before {
          opacity: 0;
        }
      }

      .letter {
        color: $color-key-white;
        font-size: 1.8vw;
        position: absolute;
        bottom: $height-key-black-bottom * 3 / 2;
        left: 0;
        right: 0;
        text-align: center;
        vertical-align: middle;
        @include transition(opacity .2s, bottom .3s);
        opacity: 0;
      }
    }
  }
  .keyboard {
    cursor: pointer;
    background-image: url("images/keyboard.svg");
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    @include transition(opacity .3s);
    position: absolute;
    right: 10px;
    border: none;
    bottom: -40px;
    height: 40px;
    width: 60px;
    opacity: .6;
    display: none;
    &:focus {
      outline: none;
    }
    @include media($tablet) {
      display: block;
    }
  }
  &.show-hints {
    .key {
      .key-white, .key-black {
        .letter {
          opacity: 1;
        }
        &:active, &.active {
          .letter {
            opacity: 0;
          }
        }
      }
      .key-black {
        &:active, &.active {
          .letter {
            bottom: $height-key-black-bottom * 2 / 3;
          }
        }
      }
    }
    .keyboard {
      opacity: 1;
    }
  }
}
