@import "bourbon/bourbon";
@import "neat/neat";
@import "_variables";
@import "_mixins";

body {
  background: $black;
  font-family: $sans-serif;
  color: $black;
  margin: 0;
  padding: 90px 0 0;
  @include media($tablet) {
    padding-top: 108px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: rem(23);
  margin-bottom: rem(10);
  @include media($tablet) {
    font-size: rem(30);
  }
}

.contain {
  @include outer-container;
  padding: 0 10px;
  @include media($desktop) {
    padding: 0;
  }
}

.pin {
  display: inline-block;
  width: 14px;
  height: 18px;
  position: relative;
  top: 4px;
  background: url(images/pin.svg) left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  margin-right: 20px;
  background: $yellow;
  color: $white;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  text-decoration: none;
  font-size: rem(18);
  padding: 15px 50px;

  // padding: 15px 25px;
  @include media($tablet) {
    font-size: rem(20);
    // padding: 15px 30px;
  }
  @include media($desktop) {
    // padding: 15px 50px;
  }
  display: inline-block;
  @include transition(all 0.25s);
  position: relative;
  // border: 3px solid $yellow;
  border-radius: 5px;

  &.email { margin-right: 0; }

  &:hover {
    // border-color: darken($yellow, 20);
    // top: -3px;
    @include transform(translateY(-3px));
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
  }
  &:active {
    // top: 1px;
    @include transform(translateY(1px));
    box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
  }

}

header {
  background: $black;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.logo {
  display: block;
  background: url(images/logo.png) no-repeat;
  background-size: contain;
  width: 80px;
  height: 65px;
  @include media($tablet) {
    width: (500px/5);
    height: (390px/5);
  }

  text-indent: -9999px;
  float: left;
}

.primary {
  float: left;
  ul {
    color: white;
    list-style-type: none;
    margin: 0; padding: 0;
    padding-left: 5px;
    @include media($tablet) {
      padding-left: 20px;
    }
    li {
      float: left;
      margin-top: 15px;
      margin-left: 8px;
      @include media($tablet) {
        margin-top: 20px;
        margin-left: 30px;
      }
      a {
        padding: 10px;
        color: $white;
        text-decoration: none;
        font-size: rem(18);
        @include media($tablet) {
          font-size: rem(20);
        }
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

.social {
  float: right;
  display: none;
  @include media($tablet) {
    display: block;
  }
  ul {
    list-style-type: none;
    margin: 0; padding: 0;
    li {
      float: left;
      margin-top: 10px;
      margin-left: 20px;
      a {
        // padding: 10px;
        text-indent: -9999px;
        color: $white;
        background: $white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        text-decoration: none;
        font-size: rem(20);
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        &.facebook { background-image: url(images/social/facebook.svg); }
        &.twitter { background-image: url(images/social/twitter.svg); }
        &.youtube { background-image: url(images/social/youtube.svg); }
        &.instagram { background-image: url(images/social/instagram.svg); }
        &:hover {
          background-color: $yellow;
        }
      }
    }
  }
  &.mobile-social {
    padding-top: 10px;
    text-align: center;
    background: white;
    display: block;
    float: none;
    @include clearfix;
    ul li {
      float: none;
      display: inline-block;
      &:first-of-type {
         margin-left: 0;
      }
    }
    @include media($tablet) {
      display: none;
    }
  }
}

.pianos {
  background: $sky-blue;
}
.piano {
  display: none;
  &:first-child { display: block; }
  position: relative;
  height: 175vw * (752/1440); // We can be a pixel off sometimes.
  @include media($tablet) {
    height: 100vw * (752/1440); // We can be a pixel off sometimes.
  }

  .scene {
    height: 100%;
    background-position: center bottom;
    background-size: cover;
  }
}

.location, .information {
  // display: none;
}

.information {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.scroll {
  background: url(images/scroll.svg) top left;
  background-size: contain;
  width: 391px;
  padding: 20px 30px;
  margin: 20px auto;
  h3 {
    text-align: center;
    margin: 0;
  }
  p {
    margin: 0.5em 0 0;
    text-align: center;
  }
  .button {
    float: none;
    display: inline-block;
    margin-right: 0;
    margin-top: 10px;

    font-size: rem(18);
    padding: 10px 25px;
    //
    // @include media($tablet) {
    //   font-size: rem(20);
    //   padding: 15px 30px;
    // }
    // @include media($desktop) {
    //   padding: 15px 50px;
    // }
  }
  @include media(max-width 400px) {
    font-size: 0.8rem;
    width: 90%;
    padding: 20px 20px;
    margin: 0px auto;
    .button {
      font-size: rem(16);
    }
  }
}

.canada-place {
  .scene {
    background-image: url(images/pianos/canada-place.svg);
  }
}

.tagline {
  display: none;
}

.keys {
  background: #eee;
  height: 100vw * 0.25;
}

.content {
  @include span-columns(12);
  @include media($tablet) {
    @include span-columns(6);
  }
  p:first-of-type {
    margin-top: 0;
  }
}
.gallery {
  margin-top: 20px;
  @include span-columns(12);
  @include media($tablet) {
    margin-top: 0;
    @include span-columns(6);
  }
}

.gallery-video {
  display: none;
  @include media($tablet) {
    display: block;
  }

  .player {
    background: #000;
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .videos {
    a {
      margin-top: flex-gutter();
      @include span-columns(4);
      @include omega(3n);
      &:last-child { display: none; }

      @include media($desktop) {
        @include omega-reset(3n);
        @include span-columns(2.4); // Ha! Decimal columns!
        @include omega(5n);
        &:last-child { display: block; }
      }

      &.active, &:hover {
        opacity: 0.3;
      }
    }
  }
}

.gallery-photo {
  img {
    display: block;
    margin-bottom: flex-gutter();
    @include span-columns(6 of 12);
    @include omega(2n);
    @include media($tablet) {
      @include omega-reset(2n);
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }
}

.about, .support, .sponsors-wrap {
  padding: 10px 0 15px;
  @include media($desktop) {
    padding: 30px 0 50px;
  }
}

.about, .sponsors-wrap {
  background: $white;
}

.support {
  background: $sky-blue;
  color: $white;
  // &.contain {
  //   padding: 0 10px;
  //   @include media($desktop) {
  //     padding: 30px 0 50px;
  //   }
  // }
}
.sponsors {
  margin-top: 2em;
}
.sponsor {
  text-align: center;
  margin-bottom: flex-gutter();

  @include span-columns(6 of 12);
  @include omega(2n);
  @include media($tablet) {
    @include omega-reset(2n);
    @include span-columns(3 of 12);
    @include omega(4n);
  }


  a {
    color: $black;
    text-decoration: none;
    // letter-spacing: -0.5px;

  	// line-height: 44px;
    @include perspective(1000px);

    span {
    	position: relative;
    	display: inline-block;
    	padding: 10px 14px;
    	background: $white;
    	-webkit-transition: -webkit-transform 0.3s;
    	-moz-transition: -moz-transform 0.3s;
    	transition: transform 0.3s;
      @include transform-origin(50% 0%);
      @include transform-style(preserve-3d);

      &::before {
        border-radius: 4px;
      	position: absolute;
      	top: 100%;
      	left: 0;
      	// width: 100%;
      	// height: 80%;
        padding: 10px 14px;
        // padding-top: 10px;
        background: $yellow;
        color: $white;
        text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
      	content: attr(data-hover);
        @include transition(background 0.3s);
      	@include transform(rotateX(-90deg));
        @include transform-origin(50% 0%);
      }
    }

    &:hover span,
    &:focus span {
      @include transform(rotateX(90deg) translateY(-22px));
      &::before {
      	background: $yellow;
        text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
      }
    }
  }

}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: $black;
  color: $white;
  ul {
    list-style-type: none;
    padding: 0; margin: 0;
    display: inline-block;

    // &:last-of-type:after { content: none; }

    li {
      &:first-of-type, &:nth-child(2) {
        display: inline-block;
        margin-bottom: 15px;
      }
      &:first-of-type:after { content: ' · '; }
      @include media(max-width 350px) {
        &:last-of-type {
          font-size: rem(14px);
        }
      }
      @include media($tablet) {
        display: inline-block;
        &:after { content: ' · '; }
        &:last-of-type:after { content: none; }
      }
    }
  }
  a {
    color: $white;
    &:hover {
      color: $yellow;
    }
  }
}

// Prevent flicker in Safari.
.support .content, .scroll, .primary {
 -webkit-transform:translate3d(0,0,0);
}

@import "_keys";
